# Environment
.env

# Python
__pycache__
*.egg-info
dist/
build/

# Virtual environments
venv
.venv

# Tools cache
.pytest_cache
.ruff_cache
.mypy_cache

# IDE
.idea/
.vscode/

# Project-specific
cvs
vacancies
uv.*